<footer>
    <div id="funders">
        <p>Access Toolkit for Artworkers is supported by: the Arts Council England’s Developing Your Creative Practice award and the Creative Production Supports initiative field:arts.
        </p>
    </div>
    <div id="credits">
        <p>Written by Iarlaith Ní Fheorais</p>
        <p>Edited by Hannah Wallis</p>
        <p>Web design by Saerlaith Uaid Ní Dhuibhir</p>
    </div>
    {# <div id="advisers">
        <p>Advisers:</p>
    </div> #}
</footer>