
{% set currentUrl %}{{ page.url }}{% endset %}

<header>
    <h2><a {% if currentUrl === '/' %}aria-current="page"{% endif %} href="/" id="logo">Access Toolkit for Arts Workers</a></h2>
    <nav id="main-nav" aria-label="Main navigation">
        <ul role="list">
            <li>

            {% for page in collections.pages %}
            <li>
            <a 
                {% if currentUrl === page.url %}aria-current="page"{% endif %} 
                href="{{ page.url }}">
                {{ page.data.title }}
            </a>
            </li>
            {%- endfor %}
        </ul>
    </nav>

</header>