---
layout: base.njk
css: /styles/pages.css
---
<h1 id="main-heading">{{title}}</h1>
<div class="main-content">
<aside>
    <h2 id="audio-version">Audio</h2>
    <audio controls src="/assets/audio/skateboard.mp3">
        <a href="/assets/audio/skateboard.mp3"> Download audio </a>
    {# <audio 
        id="audio1"
        data-able-player preload="auto" 
        playsinline
        data-speed-icons="animals">
        <source type="audio/ogg" src="media/skateboard.ogg"/>
        <source type="audio/mpeg" src="media/skateboard.mp3"/>
    </audio> #}
</aside>
<article>
    <h2 id="text-version">Text</h2>
    {{ content | safe}}  
</article>