body {
    --background-color: #fff;
}

header {
    background-color: var(--color);
    color: #fff;
}

main {
    --background-color: #fff;
    --color: var(--background-color);
}

a {
    --link-color: #fff;
    font-size: var(--body-2-size);
}

