@font-face {
    font-family: 'sylexiad';
    src: url('./SylexiadSansSpacedMed.woff') format('woff2');
}

* {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
}

body,
html {
    height: 100%
}

body {
    background-color: var(--background-color);
    color: var(--color);
    line-height: calc(2px + 2ex + 2px);
}

header, footer {
    --link-color: var(--snowy-mint);

    background-color: var(--blue);
    color: var(--snowy-mint);
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: var(--padding-sm);
    gap: var(--layout-gap-sm);
    
}

svg {
    fill: var(--svg-fill);
}

nav li{
    list-style-type: none;
}

#main-nav li {
    white-space: nowrap;
}


#home-nav ul{
    --gap: var(--layout-gap-md);
    --min: 25ch;
    --link-color: var(--blue);

    display: grid;
    gap: var(--gap);
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

#home-nav li {
    border: 0.25rem solid var(--color);
    border-radius: 1rem;
    padding: var(--padding-md);
    position: relative;
}

#home-nav li:hover, #home-nav li:focus-within {
    background-color: var(--blue);
    color: var(--snowy-mint);
    --link-color: var(--snowy-mint);
}

h1 { 
    text-align: center;
}



#home-nav li a::after {
    content: '';    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#home-nav a {
    text-decoration: none;
}

#home-nav li a:focus,
#home-nav li a:active {
    color: var(--snowy-mint);
}

#funders {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap-sm);
}

#logos {
    display: flex;
    background: var(--snowy-mint);
    border: 0.7rem solid var(--snowy-mint);
    border-radius: 1rem;
    padding: 0.5rem;
    width: fit-content;
    gap: var(--layout-gap-sm);
    flex-wrap: wrap;
    justify-content: center;
}

#logos img { 
    height: 70px;
}

#credits {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap-sm);
}

footer {
    position: sticky;
    top: 100vh;
    
}


/* :is(body, .block-flow) > * + * {
    margin-block-start: var(--block-flow-sm);
} */

section {
    max-width: 70vw;
}

h1 {
    font-size: var(--headline-size);
}

h2 {
    font-size: var(--title-size);
}

h3 {
    font-size: var(--subheading-2-size);
}

h4 {
    font-size: var(--subheading-1-size);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap-md);
    padding: var(--padding-lg);
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-lg);  
}

main.articles-main {
    background-color: #fff;
}

a {
    color: var(--link-color);
    text-decoration: underline;
    text-underline-position: under;
    text-underline-offset: 0.0625rem;
}


#main-nav a:not(#logo):focus,
#main-nav a:not(#logo):active,
.main-content a:focus,
.main-content a:active {
    background: var(--link-color);
    color: var(--color);
    outline: 0.1875rem solid var(--link-color);
    outline-offset: 0;
}


a:hover {
    text-decoration-thickness: 0.3rem;
}

main a {
    text-underline-offset: 0.15rem;
    text-underline-position: unset;
}

main a:hover {
    text-decoration-thickness: 0.15rem;
}

main a:focus, main a:active {
    text-decoration: none;
    outline: 0.15rem solid var(--blue);
}

#main-nav ul {
    width: 65%;
    display: var(--menu-nav-display);
    justify-content: space-between;
    font-size: var(--subheading-1-size);
    gap: var(--layout-gap-sm);
}

#logo, #logo a {
    font-size: var(--subheading-2-size);
    text-decoration: none;
} 

#logo:focus,
#logo:active,
#logo:hover {
    background: var(--snowy-mint);
    color: var(--blue);
    padding: 0.15rem;
}

/* #logo:hover {
    border-radius: var(--border-radius-md);;
    outline: 0.2rem solid var(--link-color);
    outline-offset: 0.5rem;
} */

#menu-button {
    display: var(--menu-button-display);
    padding: 0.5rem;
    border-radius: 0.25rem;
    justify-items: center;
}

#menu-button:focus {
    --svg-fill: var(--blue);
    color: var(--blue);
    background-color: var(--snowy-mint);
    
}
p {
    font-size: var(--body-2-size);
}

p,
li,
h1,
h2,
h3,
h4 {
    /* Help prevent overflow of long words/names/URLs */
    overflow-wrap: break-word;
    /* Optional, not supported for all languages */
    hyphens: auto;
    outline: none;
    line-height: var(--line-height);
}

em, cite {
    font-style: italic;
}

ul {
    list-style-type: "→ ";
    list-style-position: inside;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--layout-gap-lg);
}

aside {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap-sm);
}

article {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap-sm);
}

@media screen and (width <= 1000px) {
    
.main-content {
    display: flex;
    flex-wrap: wrap;
    gap: var(--layout-gap-md);
}

}

.able-status-bar {
    box-sizing: content-box;
}


a#skip-link:active, a#skip-link:focus {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 19rem;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 0.5rem;
    background: var(--snowy-mint);
    z-index: 101;
    outline-color: var(--blue);
    text-align: center;
    color: var(--blue);
    font-weight: 700;
    border-bottom: 1px solid rgba(255,255,255,.2);
    border-radius: 0 0 0.25rem 0.25rem;
}

#skip-link:focus {
    transform: translateY(0%);
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

@media screen and (width <= 69em){
    nav#main-nav {
        display: flex;
        align-items: center;
        justify-items: center;
        flex-direction: column;
        gap: var(--layout-gap-sm);
    }
    
    /* For Able Player mobile view */
    aside {
        width: clamp(15rem, 60%, 70vw);
    }

    header { 
        --menu-button-display: grid;

        flex-direction: column;
    }   

    
    header ul:not(.menu-open) {
        --menu-nav-display: none;
    }

    header ul {
        flex-direction: column;
        gap: var(--layout-gap-sm);
        align-items: center;
    }
  }


  /* TOC settings */
  body { scroll-behavior: smooth; }
 
    ol li { display: block; counter-increment: list-item; }  
    ol li:before { content: counters(list-item,'.') ' '; }

    ol li li {
        margin-left: var(--padding-sm);
    }

/* Able Player */

.able-status-bar {
    box-sizing: content-box;
}